<!DOCTYPE html>
<html>
<head>
  <title>FirstApp 27</title>
  <h2>27</h2>
  <h3>27</h3>
  <h4>27</h4>
  <h5>27</h5>
  <h6>27</h6>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
